/* ANIMATION */
@-webkit-keyframes cycle {
	0% {  opacity:1; }
	20% {  opacity:1; } 
	25% {  opacity:0; } 
	95% {  opacity:0; }
	100%{  opacity:1; }
}
@-webkit-keyframes cycletwo {
	0% {  opacity:0; }
	20% {  opacity:0; }
	25% {  opacity:1; } 
	45% {  opacity:1; } 
	50% {  opacity:0; }
	100%{  opacity:0; }
}
@-webkit-keyframes cyclethree {
	0% {  opacity:0; }
	45% {  opacity:0; }
	50% {  opacity:1; } 
	70% {  opacity:1; } 
	75% {  opacity:0; }
	100%{  opacity:0; }
}
@-webkit-keyframes cyclefour {
	0% {  opacity:0; }
	70% {  opacity:0; }
	75% {  opacity:1; } 
	95% {  opacity:1; } 
	100% {  opacity:0; }
}

@-webkit-keyframes showdvd {
	0% {  opacity:0; }
	63% {  opacity:0; }
	66% {  opacity:1; } 
	97% {  opacity:1; } 
	100% {  opacity:0; }
}
