/* Banner */
.banner {
	margin:0 auto 0 0;
	overflow:hidden;
	width:300px;
	height:250px;
	position: absolute;
}

.banner > ul > li {
	width:300px;
	height:250px;
	position:absolute;
	list-style:none;
}

.banner > ul > li#first-image {
	-webkit-animation:first-image 20s linear infinite;		
}
.banner > ul > li#second-image {
	-webkit-animation:second-image 20s linear infinite;		
}
.banner > ul > li#third-image {
	-webkit-animation:third-image 20s linear infinite;		
}
.banner > ul > li#forth-image {
	-webkit-animation:forth-image 20s linear infinite;		
}

/* ANIMATION */
@-webkit-keyframes first-image {
	0% {  opacity:1; }
	20% {  opacity:1; } 
	25% {  opacity:0; } 
	95% {  opacity:0; }
	97% {  opacity:1; }
}
@-webkit-keyframes second-image {
	0% {  opacity:0; }
	20% {  opacity:0; }
	22% {  opacity:1; } 
	45% {  opacity:1; } 
	50% {  opacity:0; }
	100%{  opacity:0; }
}
@-webkit-keyframes third-image {
	0% {  opacity:0; }
	45% {  opacity:0; }
	47% {  opacity:1; } 
	70% {  opacity:1; } 
	75% {  opacity:0; }
	100%{  opacity:0; }
}
@-webkit-keyframes forth-image {
	0% {  opacity:0; }
	70% {  opacity:0; }
	72% {  opacity:1; } 
	95% {  opacity:1; } 
	100% {  opacity:0; }
}