.container {
	position: absolute;
	width: 300px;
	height: 250px;
	cursor: pointer;
}

/* SLIDER */
#slider {
	margin:0 auto 0 0;
	overflow:hidden;
	width:300px;
	height:250px;
	position: absolute;
}

#slider li {
	width:300px;
	height:250px;
	position:absolute;
	list-style:none;
}

#slider li.firstanimation {
	-webkit-animation:cycle 20s linear infinite;		
}
#slider li.secondanimation {
	-webkit-animation:cycletwo 20s linear infinite;		
}
#slider li.thirdanimation {
	-webkit-animation:cyclethree 20s linear infinite;		
}
#slider li.fourthanimation {
	-webkit-animation:cyclefour 20s linear infinite;		
}


