.container {
	position:relative;
	width: 300px;
	height: 250px;
}

/* SLIDER */
#slider {
	margin:0 auto 0 0;
	overflow:hidden;
	width:300px;
	height:250px;
	position:relative;
}

#slider li {
	width:300px;
	height:250px;
	position:absolute;
	list-style:none;
}

#slider li.firstanimation {
	-webkit-animation:cycle 20s linear infinite;		
}
#slider li.secondanimation {
	-webkit-animation:cycletwo 20s linear infinite;		
}
#slider li.thirdanimation {
	-webkit-animation:cyclethree 20s linear infinite;		
}
#slider li.fourthanimation {
	-webkit-animation:cyclefour 20s linear infinite;		
}


/* Countdown */
.countdown-mask {
	display: block;
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color:#fff;
	font-size: 40px;
	z-index: -1;
	text-decoration: none;
}

#slider:hover + .countdown-mask,
.countdown-mask:hover {
	z-index: 1;
}

.countdown-mask span{
	position: absolute;
	left: 120px;
	top: 110px;
	opacity: 0;
}

.countdown-mask:hover span:first-child{
	-webkit-animation: showthree 3s ;
}

.countdown-mask:hover span:nth-child(2){
	-webkit-animation: showtwo 3s ;
}

.countdown-mask:hover span:nth-child(3){
	-webkit-animation: showone 3s ;
}

